<div class="row">
    <div class="medium-12 columns">
        <div class="text-center">
            <img src="~/Content/images/about.png"/>
        </div>
        <br />
        <p>
            The Hate Bin är en digital papperskorg för näthat. Här kan du slänga hot, hat och trakasserier du tar emot på Twitter, eller ser
            att andra får. Meddelanden försvinner inte från Twitter, men hamnar anonymt i The Hate Bin.
        </p>
        <br/>
        <p>
            Du kan slänga hat i The Hate Bin på Twitter genom att installera ett plugin för webläsaren Google Chrome. Då dyker en symbol
            upp vid varje meddelande du ser, och du kan när som helst markera det och skicka det hit. The Hate Bin sparar allt inkommet
            hat, men visar inte upp det igen. Hat-skärp som hamnar här bidrar till forskning och utveckling av internet för att göra det
            till en plats för alla, utan hat och diskriminering. Med hjälp av dina observationer och bidrag, kan vi förstår mer om näthat, och
            ta fram bättre verktyg för att motverka det.
        </p>
        <br/>
        <p>
            The Hate Bin är ett verktyg utvecklat av Interactive Institute Swedish ICT. Vi är ett experimentellt forskningsinstitut inom IT och
            design. När du använder The Hate Bin bidrar du till vår forskning och utveckling av internet till en plats för alla.
        </p>
        <br/>
        <p>
            Läs mer om oss på <a href="http://www.tii.se/">www.tii.se</a>
        </p>
    </div>
</div>